:root {
  font-size: calc((var(--base) / 16) * 100%);
  --r15: calc((15 / var(--base) * 1rem));
  --r20: calc((20 / var(--base) * 1rem));
  --base: 16;
  --card-copy-color: hsl(220, 15%, 55%);
  --main-bg-color: hsl(212, 45%, 89%);
}

body {
  background: var(--main-bg-color);
  font-family: 'Outfit', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/*
 * Card Styles
 */

.card {
  width: 280px;
  padding-top: 0.50rem;
  border-radius: 10px;
  background: #fff;
}

.card-header__image {
  width: 240px;
  height: 240px;
  margin: 1rem;
  object-fit: cover;
  border-radius: 10px;
}

.card-title__text {
  font-size: var(--r20);
  line-height: 1.5rem;
  font-weight: 700;
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.card-copy__text {
  color: var(--card-copy-color);
  font-size: var(--r15);
  font-weight: 400;
  margin: 1rem 1rem 3rem 1rem;
}